#app{
    display:grid;
    grid-template-columns:100px 600px 300px;
    grid-template-rows: 100px 200px 300px;
    justify-content:center;
    
}

#header{
    grid-area:1/2;
}
#container{
    grid-area:2/2;
    display:grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px 300px;
}
#footer{
    grid-area:3/2;
}
#navbar{
    grid-area:2/1;
}
#sidebar{
    grid-area:2/3;
}
#images{
    width: 800px;
}
.pic{
    width: 200px;
    height: 200px;
}